<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digimon KAIH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="master login-page">
            <div class="mobile-wrapper">
                
                <div class="dashboard-header flex justify-between p-4">
                    <div class="flex items-center gap-2">
                        <a href="#" class="notification-btn top-btn relative">
                            <img src="../assets/images/home-icon.svg" alt="">
                        </a>
                        <span class="text-white">Refleksi</span>
                    </div>
                    
                    <div class="buttons-group flex items-center gap-2">
                        <a href="#" class="notification-btn top-btn relative">
                            <img src="../assets/images/bell-icon.svg" alt="">
                            <span class="notification-counter ">12</span>
                        </a>
                    </div>
                </div>
                <div class="content p-4 pb-32 bg-white rounded-t-2xl">
                    <h3 class="text-[#425DA7] mb-4 text-xl">Refleksi Kebiasaanmu</h3>
                    <div class="accordion">
                        <div class="acc-item active mb-2">
                            <div class="acc-item-head">
                                <p>Bangun Pagi</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Beribadah</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Olahraga</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Gemar Belajar</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Makan Sehat</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Bermasyarakat</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        <div class="acc-item mb-2">
                            <div class="acc-item-head">
                                <p>Tidur Cepat</p>
                                <button class="toggle-acc-button rotate-180"><img src="../assets/images/arrow-down-circle-line.png" alt=""></button>
                            </div>
                            <div class="acc-item-body">
                                <div class="flex gap-2 refleksi-option">
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/red-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Perlu Bimbingan</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/orange-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Mulai Terbiasa</label>
                                        <span></span>
                                    </div>
                                    <div class="inp-group text-center">
                                        <input type="radio" name="act-1" id="">
                                        <img src="../assets/images/green-face.png" alt="">
                                        <label for="act-1" class="text-center w-full text-xs">Sudah Terbiasa</label>
                                        <span></span>
                                    </div>
                                </div>
                                <label for="" class="text-xs text-slate-500">Keterangan</label>
                                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adpiscing elit</p>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="foot-nav">
                    <a href="#">
                        <img src="../assets/images/foot-icon-kaih.png" alt="">
                        <span>KAIH</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-tantangan.png" alt="">
                        <span>Tantangan</span>
                    </a>
                    <a href="#" class="active">
                        <img src="../assets/images/foot-icon-refleksi.png" alt="">
                        <span>Refleksi</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-pencapaian.png" alt="">
                        <span>Pencapaian</span>
                    </a>
                </div>
            </div>
        </div>


        <script src="../assets/js/jquery-1.11.0.min.js"></script>

        <script>
            $(document).ready(function(){
              $(".acc-item-head").click(function(tab){
                tab.preventDefault();
                $(".acc-item-body").hide();
                $(this).next().slideDown();
                //$(".acc-item").removeClass("active");
                //$(this).parent().parent().addClass("active");
              });
            });
        </script>
    </body>
</html>