<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digimon KAIH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="master login-page">
            <div class="mobile-wrapper">
                
                <div class="dashboard-header flex justify-between px-4 py-10">
                    <div class="profile-data flex items-center gap-2">
                        <img class="rounded-full border-2 border-white" src="../assets/images/avatar/avatar-1.png" alt="">
                        <span class="text-white font-bold">Rizky Pradana</span>
                    </div>
                    <div class="buttons-group flex items-center gap-2">
                        <a href="#" class="notification-btn top-btn relative">
                            <img src="../assets/images/bell-icon.svg" alt="">
                            <span class="notification-counter ">12</span>
                        </a>
                        <a href="#" class="point-btn top-btn">
                            <img src="../assets/images/star-icon.png" alt="">
                            <span class="text-white">1200</span>
                        </a>
                    </div>
                </div>
                <div class="content p-4 pb-32 bg-white rounded-t-2xl">
                    <div class="flex flex-col gap-4 mb-8">
                        <div class="flex gap-4">
                            <a href="#" class="menu-box">
                                <img src="../assets/images/icon-presensi.png" alt="">
                                <span class="text-white text-xs">Presensi</span>
                            </a>
                            <a href="#" class="menu-box">
                                <img src="../assets/images/icon-kaih.png" alt="">
                                <span class="text-white text-xs">KAIH</span>
                            </a>
                            <a href="#" class="menu-box">
                                <img src="../assets/images/icon-tantangan.png" alt="">
                                <span class="text-white text-xs">Tantangan</span>
                            </a>
                        </div>
                        <div class="flex gap-4">
                            <a href="#" class="menu-box">
                                <img src="../assets/images/icon-laporan.png" alt="">
                                <span class="text-white text-xs">Laporan</span>
                            </a>
                            <a href="#" class="menu-box">
                                <img src="../assets/images/icon-diskusi.png" alt="">
                                <span class="text-white text-xs">Diskusi</span>
                            </a>
                        </div>
                    </div>
                    
                    <h3 class="text-[#425DA7] mb-4">Lihat juga link di bawah:</h3>
                    <div class="flex flex-col gap-4">
                        <a href="#" class="content-card">
                            <img src="../assets/images/thumbnail-senak-anak-hebat.jpg" alt="">
                            <span>Video Senam Sehat KAIH</span>
                        </a>
                        <a href="#" class="content-card">
                            <img src="../assets/images/thumbnail-ebook-gemar-belajar.jpg" alt="">
                            <span>E-Book Gemar Belajar</span>
                        </a>
                    </div>
                </div>

                <div class="foot-nav">
                    <a href="#" class="active">
                        <img src="../assets/images/foot-icon-kaih.png" alt="">
                        <span>KAIH</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-tantangan.png" alt="">
                        <span>Tantangan</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-refleksi.png" alt="">
                        <span>Refleksi</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-pencapaian.png" alt="">
                        <span>Pencapaian</span>
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>