<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digimon KAIH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="master login-page">
            <div class="mobile-wrapper">
                <div class="p-4">
                    <h3 class="text-white text-2xl mb-4 text-center w-full mt-8">Selamat Datang di Aplikasi <br> Digimon KAIH</h3>
                    <img src="../assets/images/login-img.png" alt="" class="w-full mb-6">
                    <p class="text-center text-white mb-4">Yuk Login Dulu!</p>
                    <form action="" class="login-form p-6 border border-white rounded-xl bg-[rgba(255,255,255,0.2)]">
                        <div class="inp-group">
                            <input type="text" placeholder="NISN">
                        </div>
                        <div class="inp-group">
                            <input type="password" placeholder="password">
                        </div>
                        <div class="inp-group -mb-[52px]">
                            <button class="btn btn-white mx-auto">LOGIN <img src="../assets/images/arrow-right.png" alt=""></button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>

    </body>
</html>