<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digimon KAIH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="master login-page">
            <div class="mobile-wrapper">
                
                <div class="dashboard-header flex justify-between p-4">
                    <div class="flex items-center gap-2">
                        <a href="#" class="notification-btn top-btn relative">
                            <img src="../assets/images/home-icon.svg" alt="">
                        </a>
                        <span class="text-white">Verifikasi</span>
                    </div>
                    
                    <div class="buttons-group flex items-center gap-2">
                        <a href="#" class="notification-btn top-btn relative">
                            <img src="../assets/images/bell-icon.svg" alt="">
                            <span class="notification-counter ">12</span>
                        </a>
                    </div>
                </div>
                <div class="content p-4 pb-32 bg-white rounded-t-2xl">
                    <form action="">
                        <div class="inp-group">
                            <label for="" class="text-xs text-slate-600 mb-1 block">Pilih Anak</label>
                            <select class="border border-slate-200">
                                <option value="">Rizky Pradana</option>
                                <option value="">Rika Saputri</option>
                            </select>
                        </div>
                        <div class="inp-group">
                            <label for="" class="text-xs text-slate-600 mb-1 block">Pilih Tanggal</label>
                            <input type="text" class="border border-slate-200">
                        </div>
                        <p class="text-sm mb-2"><strong>Jadwal Tugas 20 Maret 2025</strong></p>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Bangun Pagi</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Beribadah</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Olahraga</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Gemar Belajar</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Makan Sehat</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Bermasyarakat</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        <div class="w-full border border-slate-200 p-4 pb-0 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <p class="text-sm"><strong>Tidur Cepat</strong></p>
                                <div class="love-btn">
                                    <input type="checkbox">
                                    <img src="../assets/images/unlove.png" alt="" class="unlove active">
                                    <img src="../assets/images/love.png" alt="" class="love">
                                </div>
                            </div>
                            <p class="text-xs text-slate-600 mb-2">Pukul: 05.00 WIB</p>
                            <p class="text-xs text-slate-600 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sollicitudin eros. Proin vitae congue turpis. Sed tellus odio, faucibus et porta sed, venenatis et ante.</p>
                            <hr>
                            <div class="flex justify-end gap-2 py-2">
                                <button class="bg-red-600 text-white rounded-lg text-sm py-2 px-4 w-16">Tidak</button>
                                <button class="bg-teal-600 text-white rounded-lg text-sm py-2 px-4 w-16">Ya</button>
                            </div>
                        </div>
                        
                    </form>
                </div>

                <div class="foot-nav">
                    <a href="#">
                        <img src="../assets/images/foot-icon-kaih.png" alt="">
                        <span>Tugas Anak</span>
                    </a>
                    <a href="#" class="active">
                        <img src="../assets/images/foot-icon-tantangan.png" alt="">
                        <span>Verifikasi</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-refleksi.png" alt="">
                        <span>Refleksi</span>
                    </a>
                    <a href="#">
                        <img src="../assets/images/foot-icon-pencapaian.png" alt="">
                        <span>Pencapaian</span>
                    </a>
                </div>
            </div>
        </div>


        <script src="../assets/js/jquery-1.11.0.min.js"></script>

        <script>
            $(document).ready(function(){
              $(".acc-item-head").click(function(tab){
                tab.preventDefault();
                $(".acc-item-body").hide();
                $(this).next().slideDown();
                //$(".acc-item").removeClass("active");
                //$(this).parent().parent().addClass("active");
              });
              $(".love-btn").click(function(){
                $(".love-btn img").toggleClass("active");
              });
            });
        </script>
    </body>
</html>